<div class="container bg-light mt-5">
    <h1>Trabajos Realizados</h1>
    <hr>
</div>
<!-- agregar una galeria  -->
<div class="container">
    <div class="row ">
        <div class="card">
            <img src="http://lorempixel.com/300/300/" class=" card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
        <div class="card ">
            <img src="http://lorempixel.com/300/300/ " class="card-img-top " alt="placeHolder ">
        </div>
    </div>