<img src="assets/img/banner.png" alt="" srcset="">
<div class="container bg-light img-servicios mt-5">
    <h1>Servicios</h1>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/macetero.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceteros de fibra</h5>
                    <p class="card-text">Maceteros de excelente calidad por grandes artesanos.</p>
                    <a href="#" class="btn btn-primary">Mas detalles</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/macetero.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceteros de fibra</h5>
                    <p class="card-text">Maceteros de excelente calidad por grandes artesanos.</p>
                    <a href="#" class="btn btn-primary">Mas detalles</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/macetero.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceteros de fibra</h5>
                    <p class="card-text">Maceteros de excelente calidad por grandes artesanos.</p>
                    <a href="#" class="btn btn-primary">Mas detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>