<div class="container mt-5 img-productos bg-light">
    <h1>Nuestros Productos</h1>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem">
                <img src="assets/img/estanque1.jpg" class="img-fluid">
            </div>
        </div>
        <div class="col">
            <div>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat deserunt aut, enim odio illo pariatur velit necessitatibus dolores eos atque error doloribus optio ad saepe laudantium tempore. Praesentium, commodi corrupti.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>