<div class="container mt-5 bg-light">
    <h1>Sobre Pasticos Lagos</h1>
    <hr>
</div>

<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eveniet aliquam quasi necessitatibus voluptates iste vero in illum reiciendis et aut neque dignissimos ab exercitationem soluta, at, optio obcaecati quaerat.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo ducimus at, dolorum vero placeat modi ab provident vel commodi quo, voluptas laudantium cupiditate! Commodi blanditiis magni optio dignissimos! Nisi!</p>
    <br>
    <br>

</div>